.container
  %h1
    Hello
  = link_to privacy_policy_path, class: "btn btn-lg btn-warning" do
    %i.fa-solid.fa-file
    Privacy Policy

  = link_to courses_path, class: "btn btn-success" do
    .fa.fa-book
    Course
  .row
    %iframe{:allowfullscreen => "", :height => "480", :src => "https://www.youtube.com/embed/dXBohfjc4WA", :width => "680"}
